body.amarillo{background:#FFFF9E;}
body.azul{background:#B4BDEE;}

div.azul1{background-color:#CED9FE;}
div.cabecera{height:15%; width:50%;}
div.marquesina{width:50%;}


div.parrafo {margin-top:90px; margin-left:0cm;}
div.parrafo1{margin-top:50px;margin-left:0cm;}
div.parrafo2{margin-top:130px; margin-left:0cm;color:black;font:normal 170% Tahoma, Arial;}
div.texto1{font:normal 97% Tahoma, Arial;color:blue;} 
div.borde{border: 2px solid black;}


